
/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (min-width: 1220px){
  
  .progress--50 {
    margin-left: 30px;
  }

  .progress--75 {
    margin-left: 30px;
  }



}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  .progress--circle {
    width: 150px;
    height: 150px;
  }

  .progress--circle:before {
    width: 108px;
    height: 108px;
  }

  .progress--50 {
    margin-left: 0 !important;
  }

  .progress--75 {
    margin-left: 0 !important;
  }

  .progress--circle1 {
    width: 95px;
    height: 95px;
  }

  .progress--circle1:before {
   width: 65px;
    height: 65px;
  }

  .progress__number span:nth-child(1) {
    font-size: 11px;
  }

  .showhim:hover .showme {
    left: 81px;
  }
  

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){
    .showhim:hover .showme {
    left: 144px;
    }
}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){
  .progress--circle {
   width: 125px;
    height: 125px;
  }

  .progress--circle:before {
   width: 85px;
    height: 85px;
 }

 .progress--50 {
    margin-left: 0;
  }

  .progress--75 {
    margin-left: 0;
  }

  .progress--circle1 {
   width: 125px;
    height: 125px;
  }

  .progress--circle1:before {
   width: 95px;
    height: 95px;
 }

 .showhim:hover .showme {
    left: 148px;
    padding: 13.3px 4px;
    font-size: 12px;
    width: 120px;
  }
	
  


}

/*=================================================================
  @media screen 767px
==================================================================*/

@media screen and (max-width: 767px){


.progress--circle {
   width: 140px;
    height: 140px;
  }

  .progress--circle:before {
   width: 100px;
    height: 100px;
 }

 .progress--50 {
    margin-left: 40px !important;
  }

  .progress--75 {
    margin-left: 40px !important;
  }
  
}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

    .__logoimg{
      width: 93px;
    }

    .__logop{
      font-size: 11px;
    }

    .__proact {
    margin-top: 8%;
    margin-left: 0;
  }

  .progress--50 {
    margin-left: 17px !important;
  }
  .progress--75 {
    margin-left: 17px !important;
  }

  .progress--circle1:before {
    top: 20px;
    left: 20px;
    width: 86px;
    height: 86px;
  }

  .__prebtn {
    padding: 6px 25px;
  }

  .__nxtbtn {
    padding: 6px 25px;
  }

  .__selectmdy {
    margin-top: 10px;
  }

  .showhim:hover .showme {
    left: 96px;
    padding: 1.3px 7px;
    font-size: 9px;
    width: 94px;
  }



}

